.App {
  text-align: center;
}


html, body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

div{display : block};

.searchBox{
  padding:0px 0px 16px;
}


.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  height: 100px;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
}


.footer-content h3{
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}


