body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.search_box {
  width: 1000%;
}






/***************** Nav *********************/

.nav_bar{
  width: 1802px;
  margin: 0 auto;
}

.search_box {
  width: 100%;
  height: 72px;
  background-color: black;
  color:white;
}

.nav_logo {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  display: inline-block;
  margin: 10px 30px 0 18px;
  cursor: pointer;
}

.search_bar {
  width: 1000px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 7px;
  text-indent: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.nav_button {
  display: inline-block;
  width: 100px;
  height: 30px;
  border: 2px solid #ccc;
  text-align: center;
  line-height: 30px;
  margin: 0 15px;
  vertical-align: top;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.nav_button.wallet {
  background-color: white;
  border: 2px solid white;
}

.nav_button:hover {
  background-color: white;
  color:black;
}


.nav_button.wallet.on {
  box-shadow: rgb(16 227 194) 0px 0px 20px;
  background-color: #ffdffb;
  border: 2px solid #ffdffb;
}


.search_button {
  background-image: url(/src/images/search.png);
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
    display: inline-block;
    position: relative;
    left: -37px;
    cursor: pointer;
}

/*******************************************/

.background_img {
  height: 250px;
  width: 100%; 
}

.background_text {
  color: #10E3C2;
  padding: 0 1rem;
  font-size: clamp(1.8rem, 4vw + 1.8rem, 5.25rem);
  background: linear-gradient(90deg, #00F9BC, #00DAFC);
  text-align: center;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 52px;
  left: calc( 50% - 381px );
}

/***************** explore_menu.css *********************/

.explore_menu {
  margin: 0 25px;
  border-bottom: 1px solid #ccc;
}

.explore_menu_text {
  font-size: 20px;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}

.explore_img_preview {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 3px;
}

.explore_menu_text:hover{
  box-shadow: 0 0 3px #c1b8b8;
  border-width: 1px 1px 0 1px;
  border-radius: 12px 12px 0 0;
}

.explore_menu_text.on {
  font-weight: 600;
  border: 2px solid;
  border-width: 0 0 2px 0;
}

.explore_img_box {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 8px;
  transition: box-shadow 0.25s ease-in-out 0s;
  width: 425px;
  height: 329px;
  overflow: hidden;
  display: inline-block;
  margin: 20px;
}

.explore_img_box:hover .explore_img {
  transform: scale(1.08);
  transition-duration: 0.4s;
}

.explore_img_box:hover {
  box-shadow: rgb(0 0 0 / 50%) 0px 4px 8px;
}

.overflow_box {
  overflow: hidden;
}

.explore_img {
  width: 425px;
  height: 239px;
}

 .explore_text {
  display: inline-block;
  font-weight: 600;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 20px;
}

.explore_button {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #dfdff8;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #cbc3c3;
  font-size: 16px;
  box-shadow: 0 0 3px #ccc;
  float: right;
  margin-top: 19px;
  margin-right: 20px;
}

.preview_box {
  width: 78px;
  height: 78px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 8%) 0px 5px 10px;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  top: -35px;
  right: -10px;
}

/*****************  *********************/

/***************** slider.css *********************/
.slider_text {
  font-size: 60px;
  text-align: center;
  margin: 30px 0;
  font-weight: 600;
}

#main-slider-container {
  margin: 0 auto;
}

.slider-icon.left {
  left: -50px !important;
}

.slider-icon.right {
  right: -50px !important;
}

.slider-card-image:hover {
  transform: scale(1.08);
  transition-duration: 0.4s;
}

.slider-card {
  overflow: hidden;
}


/*******************************************/

/***************** create.css *********************/

.create_main {
  width: 600px;
  margin: 0 auto;
}

.file_box {
  padding: 4px;
  cursor: pointer;
  border: 3px dashed rgb(204, 204, 204);
  border-radius: 10px;
  width: 300px;
  height: 300px;
  display: inline-block;
}

.file_box:hover .file_label_div {
  background-color: #cccccc;
}

.file_label_div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.create_input {
  background-color: transparent;
  border: 2px solid #c5c1c1;
  height: 48px;
  outline: none;
  padding: 0px 12px 0px 0px;
  min-width: 0px;
  border-radius: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 600px;
}
.create_input:focus {
  border: 2px solid #8b7979;
}

.description {
  width: 100%;
  height: auto;
  padding: 12px;
  resize: vertical;
  border: 2px solid #c5c1c1;
  background-color: transparent;
  border-radius: 10px;
  height: 100px;
  box-sizing: border-box;
}

.input_name {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
  padding-left: 10px;
}

.main_text {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 40px 0 50px 0;
}

.create_button {
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(32, 129, 226);
  border: 2px solid rgb(32, 129, 226);
  color: rgb(255, 255, 255);
  width: 100px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.button_box {
  width: 230px;
  margin: 50px auto;
}

.imageFile {
  position: relative;
}

.uploadImage {
  width: 304px;
  height: 304px;
  position: absolute;
  top: 6px;
  left: 6px;
  border: 0;
  outline: 0;
  background-color: #fff;
  display: none;
}

.uploadImage.on {
  display: inline-block;
}

/******************** My Page.css **********************/

.connect_button {
  
}


/******************************************************/